Filter: <pre>{{ filter | json }} </pre><br />
<a mat-raised-button routerLink="/books/create">Create</a>
<div class="table-container">
  <div class="table-loading-indicator" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
  <table>
    <thead>
      <tr>
        <th>Author</th>
        <th>Title</th>
        <th>In Stock</th>
        <th>Rating</th>
        <th></th>
      </tr>
      <tr>
        <th>
          <input type="text" [(ngModel)]="filter.author" (input)="debouncer$.next($event.target.value)" #filterField />
        </th>
        <th>
          <input type="text" [(ngModel)]="filter.title" (input)="debouncer$.next($event.target.value)" #filterField />
        </th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="!error; else errorRow">
        <tr *ngFor="let book of books">
          <td>{{ book.author }}</td>
          <td>{{ book.title }}</td>
          <td><span class="{{ book.inStock | booleanToFaicon }}"></span></td>
          <td>
            <app-rating [rating]="book.rating"></app-rating>
          </td>
          <td>
            <a [routerLink]="['/books', book.id]" mat-raised-button>details</a> 
            <a [routerLink]="['/books', book.id, 'edit']" mat-raised-button>edit</a>
          </td>
        </tr>
      </ng-container>

      <ng-template #errorRow>
        <tr>
          <td colspan="5" style="text-align: center;">{{error}}</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>